<!-- File: app/code/Vendor/Module/etc/events.xml -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_front_send_response_before">
        <observer name="capture_page_output" instance="Unit2\Ex\Observer\CapturePageOutput" />
        <observer name="log_available_routers" instance="Unit2\Ex\Observer\LogAvailableRouters" />
    </event>
</config>
