/.buildpath
/.cache
/.metadata
/.project
/.settings
/.vscode
atlassian
/nbproject
/robots.txt
/pub/robots.txt
/sitemap
/sitemap.xml
/pub/sitemap
/pub/sitemap.xml
/.idea
/.gitattributes
/app/config_sandbox
/app/etc/env.php
/node_modules
/pub/media/.
!/pub/media/.htaccess
/pub/media/attribute/
!/pub/media/attribute/.htaccess
/pub/media/analytics/
/pub/media/catalog/
!/pub/media/catalog/.htaccess
/pub/media/customer/
!/pub/media/customer/.htaccess
/pub/media/downloadable/
!/pub/media/downloadable/.htaccess
/pub/media/favicon/
/pub/media/import/
!/pub/media/import/.htaccess
/pub/media/logo/
/pub/media/theme/
/pub/media/theme_customization/
!/pub/media/theme_customization/.htaccess
/pub/media/wysiwyg/
!/pub/media/wysiwyg/.htaccess
/pub/media/tmp/
!/pub/media/tmp/.htaccess
/pub/media/captcha/
/pub/static/
!/pub/static/.htaccess
/pub/media/
/var/
!/var/.htaccess
/vendor/
!/vendor/.htaccess
generated/
!/generated/.htaccess
.DS_Store
