<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="saleorders_listing_data_source" xsi:type="string">Cocoro\SaleOrdersReport\Model\SaleOrders\Collection</item>
            </argument>
        </arguments>
    </type>

    <type name="Cocoro\SaleOrdersReport\Model\SaleOrders\Collection">
        <arguments>
                <argument name="mainTable" xsi:type="string">sales_order</argument>
                <argument name="resourceModel" xsi:type="string">Magento\Sales\Model\ResourceModel\Order</argument>
            </arguments>
    </type>

</config>
